{include file="public/head" /}
<style>
    .admin-content{overflow-y: hidden}
</style>
</head>
<body>
<header class="am-topbar am-topbar-inverse admin-header">
    <div class="am-topbar-brand">
        <strong><a href="/admin/Index/index">后台管理中心</a></strong>
    </div>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

        <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
            <li class="am-dropdown" data-am-dropdown>
                <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                    <span class="am-icon-user"></span> admin <span class="am-icon-caret-down"></span>
                </a>
                <ul class="am-dropdown-content">
                    <li><a href="/admin/Index/changePassword"><span class="am-icon-cog"></span> 修改密码</a></li>
                    <li><a href="javascript:;" id="loginOut"><span class="am-icon-power-off"></span> 注销</a></li>
                </ul>
            </li>
        </ul>
    </div>
</header>
<div class="am-cf admin-main">
    <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
        <div class="am-offcanvas-bar admin-offcanvas-bar">
            <ul class="am-list admin-sidebar-list">
                <li><a href="javascript:;" onclick="openapp('/admin/Index/index')"><span class="am-icon-home"></span> 首页</a></li>
                <li class="admin-parent">
                    <a class="am-cf" data-am-collapse="{target: '#basic-nav'}">
                        <span class="am-icon-puzzle-piece"></span> 基础信息管理 <span class="am-icon-angle-right am-fr am-margin-right"></span>
                    </a>
                    <ul class="am-list am-collapse admin-sidebar-sub am-in" id="basic-nav">
                        <li><a href="javascript:;" class="am-cf" onclick="openapp('/admin/Major/index')"> 专业管理</a></li>
                        <li><a href="javascript:;" onclick="openapp('/admin/Classes/index')"> 班级管理</a></li>
                        <li><a href="javascript:;" onclick="openapp('/admin/course_type/index')"> 课程类别管理</a></li>
                    </ul>
                </li>
                <li><a href="javascript:;" onclick="openapp('/admin/Course/index')"><span class="am-icon-book"></span> 课程信息</a></li>
                <li><a href="javascript:;" onclick="openapp('/admin/student_course/index')"><span class="am-icon-table"></span> 选课信息</a></li>
                <li><a href="javascript:;" onclick="openapp('/admin/User/index')"><span class="am-icon-users"></span> 用户信息管理</a></li>
                <li><a href="javascript:;" onclick="openapp('/admin/Log/index')"><span class="am-icon-tasks"></span> 操作日志</a></li>
                <li><a href="javascript:;" onclick="openapp('/admin/Index/changePassword')"><span class="am-icon-cog"></span> 修改密码</a></li>
            </ul>
        </div>
    </div>
    <div class="admin-content">
        <iframe src="/admin/Index/center" style="width:100%;height: 100%;overflow: auto" frameborder="no"
                scrolling="no" class="appiframe"></iframe>
    </div>

</div>
<script>
    $(function(){
        //注销按钮监听点击事件
        $("#loginOut").on("click",function(){
            $.ajax({
                url:"/admin/Login/loginOut",
                type:"get",
                success:function (res) {
                    console.log(res);
                    if (res.code == 1) {
                        layer.msg('注销成功', {time: 1000});
                        setTimeout(function () {
                            window.location.href = '/admin/Login/index';
                        }, 1000);
                    }
                }
            });
        });
    });
    //切换iframe
    function openapp(url) {
        console.log(url);
        $("iframe").attr("src",url);
    }
</script>
</body>
</html>
